<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}
</head>

<body>
    {% block menu %}{% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}
</body>
</html>
